:root{

    --color--red: #7D1715;
    --color--red--light: #E32A26;
    --color--black: #1f1f1f;
    --color--white: #FBFBFB;
    --color--gray: #e0e0e0;
    --color--green: #25D366;
    --color--dark--green: #128C7E;

    --font--light: 200;
    --font--medium: 400;
    --font--bold: 600;
    --font--extrebold: 800; 

}